/* Colours
purple: #7C5F8A;
green: #53C8B4;
light-green: #75D1C4;
blue: #4EBBC1;
*/

.reveal .step{
	border: solid 1px #75D1C4;
	border-radius: 15px;
	padding: 5px;
	margin-right: 20px;
	background-color: none;
	margin-bottom: 5px;
}

.reveal .fa-arrow-right{
	color: #4EBBC1;
}

.reveal .background {
	background-color: #4EBBC1;
	margin: 0 10px 0;
}

.reveal .fa-color {
	color: #4EBBC1;
}


/* Title slide */

.reveal .title-slide .gif {
	height: 350px;
}

/* Table of contents */

.reveal .table-of-contents .steps{
	border-left: solid 5px #53C8B4 ;
	padding-left: 20px;
}

.reveal .table-of-contents p{
	margin: 30px 0;
}

/* Step 1*/

.reveal .step-1 .row {
	margin: 20vh 0;
}

/* Step 1*/

.reveal .step-2 .border-bottom {
	border-bottom: 3px solid #4EBBC1;
}

/* Where it is at */

.reveal .where-its-at img{
	background: transparent;
	border: none;
}


/* Contact slide */

.reveal .contact-slide .profile-pic {
	display: inline-block;
    border-radius: 50%;
    margin: 50px 50px 0 50px;
    height: 200px;
}

.reveal .contact-slide .name{
	display: inline-block;
	width: 200px;
	margin: 0 50px;
}

